// Variables
$independence: #545e75ff;
$blue-jeans: #63adf2ff;
$baby-blue-eyes: #a7ccedff;
$yale-blue: #304d6dff;
$air-superiority-blue: #82a0bcff;

$chat-message-box-height: 80%;
$login-inner-item-width: 80%;

body {
    background-color: $baby-blue-eyes;

}


#page {

}

// Login View UX Design

#login-outer-wrapper {
    text-align: center;
    background-color: $blue-jeans;
    color: $yale-blue;
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    width: 33%
}

#login-upper-bar {
    background-color: $yale-blue;
    color: $air-superiority-blue;
    margin: 0;
}

#login-logo {
    color: white;
    font-size: 40px;
    width: 100%;
    text-align: left;
    padding: 5px 10px;
}

#login-lower-bar {
    
}

.login-form-grouping {
    margin: 10px 0;
}

.login-label {
    width: $login-inner-item-width;
    display: flex;
    justify-content: space-between;
    color: white;
    font-size: 12px;
    margin: auto
}

#login-username-tooltip {
    color: orangered;
    
}

#login-username-input {
    width: $login-inner-item-width;
}

#login-group-select {
    width: $login-inner-item-width;

}

.login-group-select-option {
}

#login-submit-button {
    background-color: $baby-blue-eyes;
    width: $login-inner-item-width;
    border: 1px solid $air-superiority-blue;
    margin-top: 10px;
    cursor: pointer;
}

// Chat View UX Design

#chat-outer-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    background-color: $blue-jeans;
    color: $yale-blue;
    position: fixed;
    top: 50%;
    left: 50%;
    padding: 0;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 70%;
}


#chat-top-bar {
    background-color: $yale-blue;
    color: $air-superiority-blue;
    margin: 0;
    height: ((100% - $chat-message-box-height)*1/2);
    display: inline-block;
}

#chat-top-bar-box {
    height: 70%;
}

#chat-top-bar-logo {
    float: left;
    font-size: 30px;
    margin: 8px;
}

#chat-top-bar-button {
    height: 100%;
    float:right;
    margin: 8px;
    border-radius: 5px;
    background-color: $baby-blue-eyes;
    cursor: pointer;   
}

#chat-middle-bar {
    display: flex;
    height: $chat-message-box-height;
}

#chat-middle-left-side-bar {
    overflow-y: scroll;
    width: 200px;
    text-align: left;
    padding: 5px;
    white-space: nowrap;
}


#chat-group-name-box {
    font-size: 23px;
    margin: 11px 0;
}

#chat-group-name {
    padding-left: 20px;
    margin: 11px 0;
}

#chat-users {
}

#chat-users-title {
    font-size: 23px;
    margin: 11px 0;
}

#chat-users-list {
    font-size: 18px;
    padding-left: 20px;
}

.chat-users-list-options {
    margin: 11px 0;
}

#chat-middle-right-side-bar {
    width: 100%;
}

#chat-message-scroll {
    background-color: white;
    width: 100%;
    height: 100%;
    overflow-y: scroll;
}

#chat-bottom-bar {
    background-color: $yale-blue;
    height: ((100% - $chat-message-box-height)*1/2);
    display: flex;
}

#chat-message-bar {
    width: 95%;
    height: 80%;
    margin: auto auto;
    border-radius: 4px;
    overflow: hidden;
    display: flex;
}

$message-bar-width: 85%;

#chat-message-bar-input {
    width: $message-bar-width;
    height: 100%;
}

#chat-message-bar-button {
    width: (100% - $message-bar-width);
    height: 100%;
    background-color: $baby-blue-eyes;
    cursor: pointer;   
    border: none;
    font-size: 25px;
    padding: 5px 0;
}

.user-message-outer-box {
    background-color: $baby-blue-eyes;
    margin: 10px auto;
    border-radius: 2px;
    width: 90%;
}

.user-message-metadata {
    font-size: 12px;
    display: flex;
}

.user-metadata-text {
    margin: 2px;
    color: $independence
}

.user-message-content {
    color: black;
    text-align: left;
}

.bot-message-outer-box {
    display: flex;
    margin: 6px auto;
    justify-content: center;
}

.bot-message-content {
    font-size: 10px;
    color: $yale-blue;
    margin: 0px 4px;
}

.bot-message-metadata {
    font-size: 9px;
    color: $air-superiority-blue;
}